<!-- File and relating css/js was obtained from https://startbootstrap.com/template-categories/admin-dashboard/ and is entirely free use. -->
<!-- license can be found at /vendor/license -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>ASG - Dashboard</title>

        <!--<link rel="stylesheet" type="text/css" th:href="@{css/mdb.css}">-->

        <!-- Bootstrap core CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">

        <!-- Style for the custom date-picker -->
        <link  rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css}">

        <!-- Custom fonts for this template-->
        <link rel="stylesheet" type="text/css" th:href="@{vendor/fontawesome-free/css/all.min.css}">

        <!-- Custom styles for this template-->
        <link rel="stylesheet" type="text/css" th:href="@{css/sb-admin.css}">



    </head>
    <body id="page-top" onload="modalOpen()">
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a class="navbar-brand mr-1" href="future_use/dashboard.html">ASG Client Dashboard</a>
            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Navbar -->
            <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--<i class="fas fa-fw fa-folder"></i>-->
                        <!--<span>Pages</span>-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="pagesDropdown">-->
                        <!--<h6 class="dropdown-header">Login Screens:</h6>-->
                        <!--<a class="dropdown-item" href="login.html">Login</a>-->
                        <!--<a class="dropdown-item" href="/register">Register</a>-->
                        <!--<a class="dropdown-item" href="forgotten-password.html">Forgot Password</a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<h6 class="dropdown-header">Other Pages:</h6>-->
                        <!--<a class="dropdown-item" href="future_use/404.html">404 Page</a>-->
                        <!--<a class="dropdown-item" href="future_use/blank.html">Blank Page</a>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
            <div id="content-wrapper">
                <div class="container-fluid" th:switch="${userRegistered}">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">Overview</li>
                    </ol>
                    <!-- Icon Cards-->
                    <div th:case="true">
                        <div class="row">
                            <div class="col-xl-3 col-sm-6 mb-3">
                                <div class="card text-white bg-primary o-hidden h-100">
                                    <div class="card-body">
                                        <div class="card-body-icon">
                                            <i class="fas fa-fw fa-list"></i>
                                        </div>
                                        <div class="mr-5">Update Account Details</div>
                                    </div>
                                    <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#updateDetailsModal">
                                        <span class="float-left">View Details</span>
                                        <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 mb-3">
                                <div class="card text-white bg-danger o-hidden h-100">
                                    <div class="card-body">
                                        <div class="card-body-icon">
                                            <i class="fas fa-fw fa-list"></i>
                                        </div>
                                        <div class="mr-5">Resource Access and Upload</div>
                                    </div>
                                    <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#uploadOpsManualModal">
                                        <span class="float-left">View Details</span>
                                        <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 mb-3">
                                <div class="card text-white bg-success o-hidden h-100">
                                    <div class="card-body">
                                        <div class="card-body-icon">
                                            <i class="fas fa-fw fa-comments"></i>
                                        </div>
                                        <div class="mr-5">Give Review</div>
                                    </div>
                                    <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#reviewModal">
                                        <span class="float-left">View Details</span>
                                        <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:case="false">
                        <div class="row">
                            <div class="col-xl-3 col-sm-6 mb-3">
                                <div class="card text-white bg-primary o-hidden h-100">
                                    <div class="card-body">
                                        <div class="card-body-icon">
                                            <i class="fas fa-fw fa-list"></i>
                                        </div>
                                        <div class="mr-5">Register for a Course</div>
                                    </div>
                                    <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#courseRegistrationModal">
                                        <span class="float-left">Register</span>
                                        <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © Your Website 2018</span>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="updateDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateDetailsModalLabel">Update Details</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form action="/updateDetails" th:object="${updateAddress}" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="addressLine1Update" th:field="*{addressLine1}" class="form-control" placeholder="Address Line 1" required="required">
                                    <label for="addressLine1">Address Line 1</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="addressLine2Update" th:field="*{addressLine2}" class="form-control" placeholder="Address Line 2">
                                    <label for="addressLine2">Address Line 2</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <input type="text" id="postCodeUpdate" th:field="*{postCode}" class="form-control" placeholder="Postal Code" required="required" autofocus="autofocus">
                                            <label for="postCode">Postal Code</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <input type="text" id="cityUpdate" th:field="*{city}" class="form-control" placeholder="City" required="required">
                                            <label for="city">City</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="phoneNumberUpdate" th:field="*{phoneNumber}" class="form-control" placeholder="Contact Phone Number" required="required">
                                    <label for="phoneNumber">Contact Phone Number</label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-block" value="submit">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="uploadOpsManualModal" tabindex="-1" role="dialog" aria-labelledby="uploadOpsManualModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadOpsManualModalLabel">Operators Manual</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form action="/uploadOperatorsManual" method="POST" enctype="multipart/form-data">
                        <!--<fieldset class="modal-body">-->
                            <div class="form-group">
                                <div class="form-label-group">
                                    <a class="btn" type="button" href="/downloadOpsManual">Download Ops Manual Template</a>
                                </div>
                            </div>
                            <div class="input-default-wrapper mt-3">
                                <span class="input-group-text mb-3" id="input1">Upload</span>
                                <input type="file" id="file-with-current" class="input-default-js" name="file">
                                <label class="label-for-default-js rounded-right mb-3" for="file-with-current">
                                    <span class="span-choose-file">Choose file</span>
                                    <div class="float-right span-browse">Browse</div>
                                </label>
                            </div>
                        <!--</fieldset>-->
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-block" value="submit">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewModalLabel">Update Details</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form action="/submitReview" th:object="${review}" method="POST">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="instructor" th:field="*{instructorID}" class="form-control" placeholder="Instructor (if applicable)">
                                <label for="instructor">Instructor (if applicable)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <textarea type="text" id="reviewText" th:field="*{reviewText}" class="form-control" placeholder="Review" required="required"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-block" value="submit">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade multi-step" id="courseRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="courseRegistrationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="courseRegistrationModalLabel">Register for course</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form action="/courseRegister" th:object="${courseRegistration}" method="POST">
                        <fieldset class="modal-body step-1" data-step="1">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="addressLine1" th:field="*{addressLine1}" class="form-control" placeholder="Address Line 1" required="required">
                                    <label for="addressLine1">Address Line 1</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="addressLine2" th:field="*{addressLine2}" class="form-control" placeholder="Address Line 2">
                                    <label for="addressLine2">Address Line 2</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <input type="text" id="postCode" th:field="*{postCode}" class="form-control" placeholder="Postal Code" required="required" autofocus="autofocus">
                                            <label for="postCode">Postal Code</label>
                                            <p class="error" id="postCodeError" th:each="error : ${#fields.errors('postCode')}" th:text="${error}">Validation Error</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <input type="text" id="city" th:field="*{city}" class="form-control" placeholder="City" required="required">
                                            <label for="city">City</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" placeholder="Contact Phone Number" required="required">
                                    <label for="phoneNumber">Contact Phone Number</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <input type="text" id="englishLevel" name="englishLevel" th:field="*{englishLevel}" placeholder="5" class="form-control" required="required">
                                            <label for="englishLevel">English Speaking Level (1-6)</label>
                                            <p class="error" id="englishLevelError" th:each="error : ${#fields.errors('englishLevel')}" th:text="${error}">Validation Error</p>
                                            <a href="https://www.examenglish.com/CEFR/cefr.php" target="_blank">CEFR English Speaking Level Guide</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <input type="text" id="disability" name="disability" th:field="*{disability}" class="form-control" placeholder="Enter disability">
                                            <label for="disability">Any Disabilities (If Applicable)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <input type="text" id="dob" name="dob" th:field="*{dob}" placeholder="dd/mm/yyyy" class="form-control" required="required">
                                            <label for="dob" id="dob_label">Date of Birth</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <input type="text" id="pob" th:field="*{pob}" class="form-control" placeholder="Place of Birth" required="required">
                                            <label for="pob">Place of Birth</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" id="eyeSight" class="form-check-input" required="required">
                                <label class="form-check-label" for="eyeSight">Does your eye sight pass the DVLA eye sight standards?</label>
                                <a href="https://www.gov.uk/driving-eyesight-rules" target="_blank">DVLA Eye Sight Level Guide</a>
                            </div>
                        </fieldset>
                        <fieldset class="modal-body step-2" data-step="2">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="companyName" th:field="*{companyName}" class="form-control" placeholder="Company Name (if applicable)">
                                    <label for="companyName">Company Name (if applicable)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <textarea type="text" id="flightExperience" th:field="*{flightExperience}" class="form-control" placeholder="Flight Experience" required="required"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<div class="form-label-group">-->
                                    <label class="control-label" for="preferredLocation">Preferred Location</label>
                                    <div class="col-sm-10">
                                        <select id="preferredLocation" th:field="*{preferredLocation}" class="form-control" required="required">
                                            <option th:value="'Aberdeen'" th:text="Aberdeen"></option>
                                            <option th:value="'Cardiff'" th:text="Cardiff"></option>
                                            <option th:value="'Somerset'" th:text="Somerset"></option>
                                        </select>
                                    </div>
                                <!--</div>-->
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input list="droneMakes" id="droneMake" th:field="*{droneDto.make}" class="form-control" placeholder="Make of Drone You Will Be Using" required="required">
                                    <label for="droneMake">Make of Drone You Will Be Using</label>
                                    <datalist id="droneMakes">
                                        <option th:value="'DJI'" th:text="'DJI'"></option>
                                        <option th:value="'Parrot'" th:text="'Parrot'"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input list="droneModels" id="droneModel" th:field="*{droneDto.model}" class="form-control" placeholder="Model of Drone You Will Be Using" required="required">
                                    <label for="droneModel">Model of Drone You Will Be Using</label>
                                    <datalist id="droneModels">
                                        <option th:value="'Matrice'" th:text="'Matrice'"></option>
                                        <option th:value="'Mavic'" th:text="'Mavic'"></option>
                                        <option th:value="'Mavic 2'" th:text="'Mavic 2'"></option>
                                        <option th:value="'Mavic Air'" th:text="'Mavic Air'"></option>
                                        <option th:value="'Mavic Pro'" th:text="'Mavic Pro'"></option>
                                        <option th:value="'Phantom 2 Vision'" th:text="'Phantom 2 Vision'"></option>
                                        <option th:value="'Phantom 2 Vision+'" th:text="'Phantom 2 Vision+'"></option>
                                        <option th:value="'Phantom 3 Standard'" th:text="'Phantom 3 Standard'"></option>
                                        <option th:value="'Phantom 3 4k'" th:text="'Phantom 3 4k'"></option>
                                        <option th:value="'Phantom 4 Pro'" th:text="'Phantom 4 Pro'"></option>
                                        <option th:value="'Phantom 4 Pro V2.0'" th:text="'Phantom 4 Pro V2.0'"></option>
                                        <option th:value="'Anafi'" th:text="'Anafi'"></option>
                                        <option th:value="'Bebop 2'" th:text="'Bebop 2'"></option>
                                        <option th:value="'Bebop 2 Power'" th:text="'Bebop 2 Power'"></option>
                                        <option th:value="'Mambo'" th:text="'Mambo'"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" id="paid" name="payment" class="form-check-input" th:field="*{paid}" th:checked="${true}">
                                <label class="form-check-label" for="paid">Check if you have paid</label>
                            </div>
                        </fieldset>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="sendEvent('#courseRegistrationModal', 2)">Continue</button>
                            <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="sendEvent('#courseRegistrationModal', 1)">Back</button>
                            <button type="submit" class="btn btn-primary btn-block step step-2" value="submit">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- jQuery core plugin JavaScript-->
        <script th:src="@{vendor/jquery/jquery.min.js}"></script>

        <!-- Bootstrap core plugin JavaScript-->
        <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Easing core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{js/sb-admin.js}"></script>


        <!-- Scripts for this page-->
        <script th:src="@{vendor/MultiStepModal/multi-step-modal.js}"></script>
        <script th:src="@{js/mdb.min.js}"></script>
        <script>
            sendEvent = function(sel, step) {
                $(sel).trigger('next.m.' + step);
            }
        </script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js}"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js}"></script>

    </body>
</html>