<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ASG - Flight Assessment</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

</head>
<body class="bg-dark">
<div class="container">
    <div>
        <h1>Enter or update a users Flight Assessment</h1>
        <form action="/admin/flightAssessment" method="post">
            <label>Enter candidate number:</label><input type="number" name="candidate_number" id="candidate_number" placeholder="Enter candidate number" required = "required"/><br>
            <label>Enter instructor id:</label><input type="text" name="instructor_id" id="instructor_id" placeholder="Instructor id" required="required"><br>
            <label>Enter whether the candidate has insurance:</label><br>
            <input type="radio" name="insurance" id="has_insurance" checked value="Y"><label>Has insurance</label><br>
            <input type="radio" name="insurance" id="no_insurance" value="N"><label>Doesn't have insurance</label><br>
            <label>Enter number of logged hours before assessment:</label><input type="text" name="logged_hours" id="logged_hours" placeholder="HH:MM:SS" pattern="\d\d\:\d\d\:\d\d" required="required"><br>
            <label>Enter the suas category:</label><input type="text" name="suas_category" id="suas_category" placeholder="SUAS category" required="required"><br>
            <label>Enter the candidates pass date:</label><input type="text" name="assessment_pass_date" id="assessment_pass_date" placeholder="YYYY/MM/DD" pattern="\d\d\d\d\/\d\d\/\d\d" required = "required"><br>
            <input type="submit" id="submit" value="submit"/>
        </form>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>
</html>
