<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>SB Admin - Register</title>

      <!-- Bootstrap core CSS-->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <link href="css/test.css" rel="stylesheet">

      <!-- Custom fonts for this template-->
      <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

      <!-- Custom styles for this template-->
      <link href="css/sb-admin.css" rel="stylesheet">

    </head>
    <body class="bg-dark">
        <div class="container">
          <form action="/register" id="msform" th:object="${user}" method="POST">
            <ul id="progressbar">
              <li class="active">Account Setup</li>
              <li>Personal Details</li>
              <li>Personal Details</li>
            </ul>
            <fieldset>
              <h2 class="fs-title">Account Setup</h2>
              <h3 class="fs-subtitle">So that you can stay connected to the course</h3>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="firstName" th:field="*{firstName}" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                      <label for="firstName">First Name</label>
                      <!--<p th:each="error: ${#fields.errors('firstName')}"-->
                      <!--th:text="${error}">Validation error</p>-->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="lastName" th:field="*{lastName}" class="form-control" placeholder="Last name" required="required">
                      <label for="lastName">Last name</label>
                      <!--<p th:each="error: ${#fields.errors('lastName')}"-->
                      <!--th:text="${error}">Validation error</p>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="email" id="emailAddress" th:field="*{emailAddress}" class="form-control" placeholder="Email Address" required="required">
                  <label for="emailAddress">Email Address</label>
                  <p th:each="error : ${#fields.errors('emailAddress')}"
                     th:text="${error}">Validation error</p>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="password" id="inputPassword" th:field="*{password}" class="form-control" placeholder="Password" required="required">
                      <label for="inputPassword">Password</label>
                      <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Validation error</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="password" id="confirmPassword" th:field="*{matchingPassword}" class="form-control" placeholder="Confirm password" required="required">
                      <label for="confirmPassword">Confirm password</label>
                    </div>
                  </div>
                </div>
              </div>
              <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
              <h2 class="fs-title">Personal Details</h2>
              <h3 class="fs-subtitle">For later contact</h3>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="addressLine1" th:field="*{addressLine1}" class="form-control" placeholder="Address Line 1" required="required">
                  <label for="addressLine1">Address Line 1</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="addressLine2" th:field="*{addressLine2}" class="form-control" placeholder="Address Line 2">
                  <label for="addressLine2">Address Line 2</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="postCode" th:field="*{postCode}" class="form-control" placeholder="Postal Code" required="required" autofocus="autofocus">
                      <label for="postCode">Postal Code</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="city" th:field="*{city}" class="form-control" placeholder="City" required="required">
                      <label for="city">City</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" placeholder="Contact Phone Number" required="required">
                  <label for="phoneNumber">Contact Phone Number</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="date" id="dob" th:field="*{dob}" class="form-control" placeholder="Date of Birth" required="required" autofocus="autofocus">
                      <label for="dob">Date of Birth</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="pob" th:field="*{pob}" class="form-control" placeholder="Place of Birth" required="required">
                      <label for="pob">Place of Birth</label>
                    </div>
                  </div>
                </div>
              </div>
              <input type="button" name="previous" class="previous action-button" value="Previous" />
              <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
              <h2 class="fs-title">Extended Details</h2>
              <h3 class="fs-subtitle"></h3>
              <div class="form-group">
                <div class="form-label-group">
                  <textarea type="text" id="flightExperience" th:field="*{flightExperience}" class="form-control" placeholder="Flight Experience" required="required"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="companyName" th:field="*{companyName}" class="form-control" placeholder="Company Name (if applicable)">
                  <label for="companyName">Company Name (if applicable)</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="preferredLocation" th:field="*{preferredLocation}" class="form-control" placeholder="Preferred Location" required="required">
                  <label for="preferredLocation">Preferred Location</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="droneMake" th:field="*{droneMake}" class="form-control" placeholder="Make of Drone You Will Be Using" required="required">
                  <label for="droneMake">Make of Drone You Will Be Using</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="droneModel" th:field="*{droneModel}" class="form-control" placeholder="Model of Drone You Will Be Using" required="required">
                  <label for="droneModel">Model of Drone You Will Be Using</label>
                </div>
              </div>
              <input type="button" name="previous" class="previous action-button" value="Previous" />
              <button type="submit" class="btn btn-primary btn-block" value="submit">Register</button>
            </fieldset>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="login.html">Login Page</a>
            <a class="d-block small" href="future_use/forgot-password.html">Forgot Password?</a>
          </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <script src="js/test.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    </body>
</html>
