<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Verify your email address</title>

        <link rel="stylesheet" type="text/css" th:href="@{css/email-style.css}" media="all">
    </head>
    <body>
        <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
                        <!-- Logo -->
                        <tr>
                            <td class="email-masthead">
                                <img href="/static/images/asg_logo.png" class="email-masthead_name">
                            </td>
                        </tr>
                        <!-- Email Body -->
                        <tr>
                            <td class="email-body" width="100%">
                                <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
                                    <!-- Body content -->
                                    <tr>
                                        <td class="content-cell">
                                            <h1>Verify your email address</h1>
                                            <p>Thanks for signing up with ASG!</p>
                                            <!-- Action -->
                                            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td align="center">
                                                        <div>
                                                            <a th:href="${link}" class="button button--blue">Verify Email</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <p>Thanks,<br>The ASG Team</p>
                                            <!-- Sub copy -->
                                            <table class="body-sub">
                                                <tr>
                                                    <td>
                                                        <p class="sub">If you’re having trouble clicking the button, copy and paste the URL below into your web browser.
                                                        </p>
                                                        <p class="sub" th:text="${link}">Link will be here</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-cell">
                                            <p class="sub center">
                                                Aviation Systems Groups, LTD
                                                <br>11 Bishops Drive, East Harnham, Salisbury, United Kingdom, SP2 8NZ
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>